
@font-face {
    font-family: "Caligraf";
    src: url(./fonts/Caligraf-Light_PERSONAL_USE_ONLY.ttf);
}


@font-face {
    font-family: "Balinest";
    src: url(./fonts/balinest.regular.otf);
}

@font-face {
  font-family: "Portia";
  src: url(./fonts/Portia-Aged.otf);
}

@font-face {
  font-family: "Lucien";
  src: url(./fonts/Lucian\ Schoenschrift\ CAT.ttf);
}

body{
    background-color: black;
}

html::after {
    content: "";
    background: url(./images/2144992.jpg);
    opacity:0.6;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 100%;
    
}

h1 {
    text-align: center;
    letter-spacing: .4rem;
    font-family: "Portia";
    font-weight: bold;
    font-size: 150px;
    background-image: linear-gradient(#505050, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#p1{
    font-size: 70px;
    text-align: center;
    bottom: 150px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-family: "Lucien";
    
}

*{
    box-sizing: border-box;
    font-family: 'Caligraf', sans-serif;
    font-family: 'Caligraf', sans-serif;
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #000000, #e3eefe);*/
    /* background: linear-gradient(375deg, #7e7e7e, #000000); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #000000, #e3eefe);*/
    /* background: linear-gradient(375deg, #7e7e7e, #000000); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#000000, #ffffff, #000000);
    /*background: linear-gradient(375deg, #000000, #ffffff);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; 
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  

  
.social
{
  
  position: absolute;
  z-index: 10;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0) invert(1);
}
.social li
{
  list-style: none;
  
}
.social li a
{
  
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

img.github {
  width: 70px;
  height: auto;
}